<!DOCTYPE html>
<html lang="en">
<body>
    <%- include("../partials/headsection.ejs") %>
    <%- include("../partials/header.ejs") %>
    <div>
        <%- include("../partials/navbar.ejs") %>
    </div>

<% if (locals.hero) { %>
    <h2><%= hero.name %></h2>
    <h4>Power: <%= hero.power %></h4>
    <div>
        <p>Description: <%= hero.desc %></p>
    </div>
<% } %>



</body>

</html>